<div class="container plan-container">
  <h2>Choose a plan for success</h2>
  <p class="subtitle">
    Pick up a plan that helps you acheive your goals faster.
  </p>
  <div class="row">
    <div class="col-lg-3">
      <div class="plan-box">
        <div class="plan-header basic-header">Basic Plan</div>
        <div class="plan-content">
          <p class="price">£0 <span>/ month</span></p>
          <ul>
            <li>Access to selected courses</li>
            <li>Community support</li>
            <li>Access to mobile app</li>
          </ul>
        </div>
        <button class="select-plan-btn">Select Plan</button>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="plan-box">
        <div class="plan-header pro-header">Pro Plan</div>
        <div class="plan-content">
          <p class="price">£10 <span>/ month</span></p>
          <ul>
            <li>Access to all courses</li>
            <li>Priority support</li>
            <li>Offline viewing</li>
          </ul>
        </div>
        <button class="select-plan-btn">Select Plan</button>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="plan-box">
        <div class="plan-header premium-header">Premium Plan</div>
        <div class="plan-content">
          <p class="price">£20 <span>/ month</span></p>
          <ul>
            <li>All pro plan features</li>
            <li>1-1 mentoring</li>
            <li>Early access to new content</li>
          </ul>
        </div>
        <button class="select-plan-btn">Select Plan</button>
      </div>
    </div>
  </div>
</div>
